.idea/
*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
solve/fillers/basic_fill_method/__pycache__/
solve/fillers/deep_fill_method/__pycache__/
solve/fillers/guess_fill_method/__pycache__/
solve/repositories/.DS_Store
solve/repositories/data/
*.pyc