.idea/
*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
basic_fill_method/__pycache__/
deep_fill_method/__pycache__/
guess_fill_method/__pycache__/
repositories/.DS_Store
repositories/data/
*.pyc